* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  box-sizing: border-box;
  /* font-family: ' __LexendFont_7838d2', '__LexendFont_Fallback_7838d2', Geneva; */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
